<div>
  <nav class="navbar navbar-expand navbar-dark bg-success"> 
    <a href="#" class="navbar-brand">Amine</a> 
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link text-light">Tutorials</a> 
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link text-light">Add</a> 
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>

  <!-- Informations sur les frameworks de développement -->
  <div class="framework-info">
    <h2>Frameworks de Développement</h2>
    
    <!-- React.js -->
    <div>
      <h3>React.js</h3>
      <img src="../assets/react js.png" alt="React.js Logo">
      <p>React.js est une bibliothèque JavaScript pour la construction d'interfaces utilisateur.</p>
    </div>

    <!-- Angular -->
    <div>
      <h3>Angular</h3>
      <img src="../assets/angular.png" alt="Angular Logo">
      <p>Angular est une plateforme de développement d'applications web développée par Google.</p>
    </div>

    <!-- Vue.js -->
    <div>
      <h3>Vue.js</h3>
      <img src="../assets/vue.js.png" alt="Vue.js Logo">
      <p>Vue.js est un framework JavaScript progressif pour la création d'interfaces utilisateur.</p>
    </div>

    <!-- Express.js -->
    <div>
      <h3>Express.js</h3>
      <img src="../assets/express js.png" alt="Express.js Logo">
      <p>Express.js est un framework web pour Node.js utilisé pour construire des applications web et des API.</p>
    </div>

    <!-- Django -->
    <div>
      <h3>Django</h3>
      <img src="../assets/django.png" alt="Django Logo">
      <p>Django est un framework web Python open source qui encourage le développement rapide et le design propre et pragmatique.</p>
    </div>
  </div>
</div>
